n8n/Campaign Compilation Agent.json
{
  "name": "Campaign Compilation Agent",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -320,
        -176
      ],
      "id": "2ac8c0e9-9e5b-4cc2-a8c1-f083f875218e",
      "name": "When chat message received",
      "webhookId": "2d3daee4-0720-482e-85ad-25cf5c3272fd"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -96,
        -176
      ],
      "id": "f82f0d29-911b-427d-8e00-dff18faada8f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -128,
        48
      ],
      "id": "2c9d8f66-6480-47a4-9070-07b04dc9d7a0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "3Pi4ZntDXCnJXClE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"array\",\n  \"items\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"prompt\": {\n        \"type\": \"string\"\n      },\n      \"content_type\": {\n        \"type\": \"string\",\n        \"enum\": [\"Image\", \"Image Carousel\", \"Text\", \"Video\"]\n      },\n      \"ig_caption\": {\n        \"type\": \"string\"\n      },\n      \"linkedin_post\": {\n        \"type\": \"string\"\n      },\n      \"x_post\": {\n        \"type\": \"string\"\n      },\n      \"youtube_post\": {\n        \"type\": \"string\"\n      },\n      \"tiktok_post\": {\n        \"type\": \"string\"\n      },\n      \"facebook_post\": {\n        \"type\": \"string\"\n      },\n      \"link_to_media\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"url\": {\n              \"type\": \"string\"\n            },\n            \"filename\": {\n              \"type\": \"string\"\n            }\n          },\n          \"required\": [\"url\", \"filename\"]\n        }\n      },\n      \"creation_date\": {\n        \"type\": \"string\",\n        \"format\": \"date\"\n      },\n      \"distribution_date\": {\n        \"type\": \"string\",\n        \"format\": \"date\"\n      }\n    },\n    \"required\": [\n      \"prompt\",\n      \"content_type\",\n      \"ig_caption\",\n      \"linkedin_post\",\n      \"x_post\",\n      \"youtube_post\",\n      \"tiktok_post\",\n      \"facebook_post\",\n      \"link_to_media\",\n      \"creation_date\",\n      \"distribution_date\"\n    ]\n  }\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        80,
        48
      ],
      "id": "bb591c55-2190-4d6d-9fbc-55787041db54",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "apphOFikyofGAIOGS",
          "mode": "list",
          "cachedResultName": "Command Labs Content Base",
          "cachedResultUrl": "https://airtable.com/apphOFikyofGAIOGS"
        },
        "table": {
          "__rl": true,
          "value": "tblvNUSOsHFhl3hOh",
          "mode": "list",
          "cachedResultName": "Content",
          "cachedResultUrl": "https://airtable.com/apphOFikyofGAIOGS/tblvNUSOsHFhl3hOh"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Approved": false,
            "Prompt": "={{ $('When chat message received').item.json.chatInput }}",
            "Post Type": "={{ $json.content_type }}",
            "Instagram Caption": "={{ $json.ig_caption }}",
            "LinkedIn Post": "={{ $json.linkedin_post }}",
            "X.com Post": "={{ $json.x_post }}",
            "Facebook Post": "={{ $json.facebook_post }}",
            "YouTube Post": "={{ $json.youtube_post }}",
            "TikTok Post": "={{ $json.tiktok_post }}",
            "Media": "={{ $json.link_to_media }}",
            "Distribution Date": "={{ $json.distribution_date }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Prompt",
              "displayName": "Prompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Post Type",
              "displayName": "Post Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Image",
                  "value": "Image"
                },
                {
                  "name": "Text",
                  "value": "Text"
                },
                {
                  "name": "Video",
                  "value": "Video"
                },
                {
                  "name": "Image Carousel",
                  "value": "Image Carousel"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Instagram Caption",
              "displayName": "Instagram Caption",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn Post",
              "displayName": "LinkedIn Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "X.com Post",
              "displayName": "X.com Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "YouTube Post",
              "displayName": "YouTube Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "TikTok Post",
              "displayName": "TikTok Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Facebook Post",
              "displayName": "Facebook Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Creation Date",
              "displayName": "Creation Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Distribution Date",
              "displayName": "Distribution Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Media",
              "displayName": "Media",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Approved",
              "displayName": "Approved",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        496,
        -176
      ],
      "id": "f5e6bb5e-db2e-4785-bc69-28f8c80a08ee",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "dpE1KjadRxYqsvOT",
          "name": "Jae"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        288,
        -176
      ],
      "id": "e7080c6f-e8f7-439c-9351-56385ba8caf2",
      "name": "Split Out"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        []
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "350827b6-3dd3-4b9b-b568-de738d40f070",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "59163ef64e1cf4dcd8e0818ffdc09c87dbd57c11199a791813b2ff3820cc01aa"
  },
  "id": "HdelcB28bkbBDxJs",
  "tags": []
}