n8n/Compilation Agent.json
{
  "name": "Compilation Agent",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -448,
        -64
      ],
      "id": "05f58642-753d-4758-afaa-62a8f1906ffa",
      "name": "When chat message received",
      "webhookId": "0762c001-d470-403c-b5ed-22d03d693691"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -224,
        -64
      ],
      "id": "955f034c-6574-4209-922a-201e2ecdbfd2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "apphOFikyofGAIOGS",
          "mode": "list",
          "cachedResultName": "Command Labs Content Base",
          "cachedResultUrl": "https://airtable.com/apphOFikyofGAIOGS"
        },
        "table": {
          "__rl": true,
          "value": "tblvNUSOsHFhl3hOh",
          "mode": "list",
          "cachedResultName": "Content",
          "cachedResultUrl": "https://airtable.com/apphOFikyofGAIOGS/tblvNUSOsHFhl3hOh"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Approved": false,
            "Prompt": "={{ $('When chat message received').item.json.chatInput }}",
            "Instagram Caption": "={{ $json.output.ig_caption }}",
            "LinkedIn Post": "={{ $json.output.linkedin_post }}",
            "X.com Post": "={{ $json.output.x_post }}",
            "YouTube Post": "={{ $json.output.youtube_post }}",
            "TikTok Post": "={{ $json.output.tiktok_post }}",
            "Post Type": "={{ $json.output.content_type }}",
            "Facebook Post": "={{ $json.output.facebook_post }}",
            "Media": "={{ $json.output.link_to_media }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Prompt",
              "displayName": "Prompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Post Type",
              "displayName": "Post Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Image",
                  "value": "Image"
                },
                {
                  "name": "Text",
                  "value": "Text"
                },
                {
                  "name": "Video",
                  "value": "Video"
                },
                {
                  "name": "Image Carousel",
                  "value": "Image Carousel"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Instagram Caption",
              "displayName": "Instagram Caption",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn Post",
              "displayName": "LinkedIn Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "X.com Post",
              "displayName": "X.com Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "YouTube Post",
              "displayName": "YouTube Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "TikTok Post",
              "displayName": "TikTok Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Facebook Post",
              "displayName": "Facebook Post",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Creation Date",
              "displayName": "Creation Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Distribution Date",
              "displayName": "Distribution Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Media",
              "displayName": "Media",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Approved",
              "displayName": "Approved",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        160,
        -64
      ],
      "id": "ef81a597-0989-45f0-a74c-162b3c973f33",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "DTrOscx6cEqEjUTI",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"prompt\": {\n      \"type\": \"string\"\n    },\n    \"content_type\": {\n      \"type\": \"string\",\n      \"enum\": [\"Image\", \"Image Carousel\", \"Text\", \"Video\"]\n    },\n    \"ig_caption\": {\n      \"type\": \"string\"\n    },\n    \"linkedin_post\": {\n      \"type\": \"string\"\n    },\n    \"x_post\": {\n      \"type\": \"string\"\n    },\n    \"youtube_post\": {\n      \"type\": \"string\" \n    },\n    \"tiktok_post\": {\n      \"type\": \"string\"\n    },\n    \"facebook_post\": {\n      \"type\": \"string\"\n    },\n    \"link_to_media\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"url\": {\n            \"type\": \"string\"\n          },\n          \"filename\": {\n            \"type\": \"string\"\n          }\n        }\n      }\n    }\n  },\n  \"required\": [\n    \"prompt\",\n    \"content_type\",\n    \"ig_caption\",\n    \"linkedin_post\",\n    \"x_post\",\n    \"youtube_post\",\n    \"tiktok_post\",\n    \"facebook_post\",\n    \"link_to_media\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -48,
        160
      ],
      "id": "075b1089-44a7-4bc4-b86c-ac8391ff613d",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-20250514",
          "cachedResultName": "Claude 4 Sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -288,
        144
      ],
      "id": "c59f4042-fbd2-4acf-b95b-3e729aaeecf3",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "molYjkydhlF4Gr0Z",
          "name": "AI School Phase 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5544e590-f0a0-4855-b3f0-bfea928213e1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "59163ef64e1cf4dcd8e0818ffdc09c87dbd57c11199a791813b2ff3820cc01aa"
  },
  "id": "z3ta1MDaqFbfxl3Z",
  "tags": []
}